<div class="container">
<table class="table table-hover">
  <th>Library Name</th>
  <th>Location</th>
  <% @libraries.each do |library| %>
  <tr>
    <td><%= link_to library.name, library %></td>
    <td><%= library.location.address %></td>
  </tr>
  <% end %>
</table>
</div>