<p>
The Library List Rails project features four tables with three associations: a one-to-one, a one-to-many, and a many-to-many.

The data is seeded through three different sources:

<ul>
<li>The main source of data is from the City of Winnipeg open data portal which can be found here:</li>

https://data.winnipeg.ca/resource/itub-a6x4.json?$$app_token=swjqemjyTcsrJ7oYJOD5g5Kwg

<li>The names generated for the librarians randomly assigned through the uiNames API.</li>

https://uinames.com/api/?ext&amount=500

<li>Finally, books and their information were generated using the Faker gem for randomized names, genres, and offers.</li>
</ul>
</p>
<p>
<%= image_tag "erd.png", alt: "ERD Diagram" %>
</p>